*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    margin-top: 15px;
}

.time{
    padding: 40px 0 40px 15px;
}

.timerButton button{
    padding: 10px 5px;
    font-weight: 700;
}